p {
    margin: 0 !important;
}

hr {
    border-color: #6C757D !important;
    margin: .2rem 0 .2rem 0 !important;
}

hr.custom-hr {
    margin-top: .5rem !important;
    /* margin-bottom: .5rem !important; */
}

img.avatar {
    border-radius: 50% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

table td {
    border-top: 1px solid #6C757D !important;
    border-bottom: 1px solid #6C757D !important;
}

.card-bg-color {
    background-color: #212529 !important;
}

.bio-section-title {
    font-size: 20px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    text-transform: uppercase !important;
    color: #139A68 !important;
}

.bio-section-content {
    font-size: 16px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    color: #6C757D !important;
}

.introduction-card-title {
    font-size: 3rem !important;
    font-family: 'el_sanchoregular' !important;
    font-weight: normal !important;
    font-style: normal !important;
    text-transform: uppercase !important;
    word-wrap: break-word;
    color: #139A68 !important;
}

.introduction-title-name {
    text-transform: capitalize;
    font-size: 25px !important;
    font-weight: 900 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    color: #139A68 !important;
}

.introduction-description {
    text-transform: capitalize !important;
    font-style: italic !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    color: #6C757D !important;
}

.text-information-color {
    color: #139A68 !important;
}

.text-information-color-secondary {
    color: #6C757D !important;
}

.text-information-size {
    font-size: 15px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

@font-face {
    font-family: 'el_sanchoregular';
    src: url('./fonts/elsancho-webfont.woff2') format('woff2'),
         url('./fonts/elsancho-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 0) {
    .card-deck .card {
      flex: 0 0 calc(50% - 30px);
    }
  }
  @media (min-width: 576px) {
    .card-deck .card {
      flex: 0 0 calc(50% - 30px);
    }
  }
  @media (min-width: 768px) {
    .card-deck .card {
      flex: 0 0 calc(33.3333333333% - 30px);
    }
  }
  @media (min-width: 992px) {
    .card-deck .card {
      flex: 0 0 calc(33.3333333333% - 30px);
    }
  }
  @media (min-width: 1200px) {
    .card-deck .card {
      flex: 0 0 calc(33.3333333333% - 30px);
    }
  }
  